<div class="container">
  
	<div class="row"> 
  
		<div class="col-lg-12">
      			<h1 class="page-header text-center">Members
        			</br>
        			<small>Meet the board! Behind the scenes of all the extravagant events is a group of hard-working people who put it all together. 
				But we have a lot of fun while we're at it! Some of our past board bonding events have included potlucks, game nights,  ice skating, 
				apple picking, and even toppling out of whitewater rafts. Good people, good fun. </small>
      			</h1>
    		</div>

    		<div class="col-md-6">
			<img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200"> 
      			<h3> whodis whodat  
			<small>i'mdismajorandyear</small>
			</h3>
			<p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me. 
			   Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS....... 
			   Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem
			   ipsum generator right now. Waow I really suck at this. </p>
    		</div>

                <div class="col-md-6">                                                                                                                                       
                        <img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200">                                                                                 
                        <h3> whodis whodat                                                                                                                                   
                        <small>i'mdismajorandyear</small>                                                                                                                    
                        </h3>                                                                                                                                                
                        <p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me.                                                                  
                           Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS.......                                                                      
                           Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem                                                                    
                           ipsum generator right now. Waow I really suck at this. </p>                                                                                       
                </div>

                <div class="col-md-6">                                                                                                                                       
                        <img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200">                                                                                 
                        <h3> whodis whodat                                                                                                                                   
                        <small>i'mdismajorandyear</small>                                                                                                                    
                        </h3>                                                                                                                                                
                        <p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me.                                                                  
                           Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS.......                                                                      
                           Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem                                                                    
                           ipsum generator right now. Waow I really suck at this. </p>                                                                                       
                </div>

                <div class="col-md-6">                                                                                                                                       
                        <img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200">                                                                                 
                        <h3> whodis whodat                                                                                                                                   
                        <small>i'mdismajorandyear</small>                                                                                                                    
                        </h3>                                                                                                                                                
                        <p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me.                                                                  
                           Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS.......                                                                      
                           Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem                                                                    
                           ipsum generator right now. Waow I really suck at this. </p>                                                                                       
                </div>

                <div class="col-md-6">                                                                                                                                       
                        <img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200">                                                                                 
                        <h3> whodis whodat                                                                                                                                   
                        <small>i'mdismajorandyear</small>                                                                                                                    
                        </h3>                                                                                                                                                
                        <p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me.                                                                  
                           Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS.......                                                                      
                           Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem                                                                    
                           ipsum generator right now. Waow I really suck at this. </p>                                                                                       
                </div>

                <div class="col-md-6">                                                                                                                                       
                        <img class="img-circle img-responsive pull-left box" src="http://placehold.it/200x200">                                                                                 
                        <h3> whodis whodat                                                                                                                                   
                        <small>i'mdismajorandyear</small>                                                                                                                    
                        </h3>                                                                                                                                                
                        <p>I'm super interesting didn't you know wao look at me. I'm super coolios, lub me.                                                                  
                           Description description. I DO ALL THE THINGS!! MAGICS AND SPARKLESSSS.......                                                                      
                           Lorem fat fat fat fat fat. Wassup broski. Why am I too lazy to look up a lorem                                                                    
                           ipsum generator right now. Waow I really suck at this. </p>                                                                                       
                </div>

  
	</div>

</div>
