<div class="container" ng-controller="MemberCtrl as board">
  
	<div class="row"> 
  
		<div class="col-lg-12">
      			<h1 class="page-header text-center">Members
        			</br>
        			<small>Meet the board! Behind the scenes of all the extravagant events is a group of hard-working people who put it all together. 
				But we have a lot of fun while we're at it! Some of our past board bonding events have included potlucks, game nights,  ice skating, 
				apple picking, and even toppling out of whitewater rafts. Good people, good fun. </small>
      			</h1>
    	</div>

    	<div class="col-md-6 col-sm-12" ng-repeat="member in board.members">
    		<div>
				<img class="img-circle img-responsive pull-left member-photo" src="http://placehold.it/180x180"> 
      		</div>	
      			
      		<div class="col-xs-8 col-sm-8 member-info">
      			<h3> 
      				{{member.name}}
					<small>{{member.position}}
					</br> 
					{{member.major_year}}</small>
				</h3>
			
				<p> 
					{{member.description}}
				</p>
    		</div>
    	</div>
  
	</div>

</div>
